<form method="post" action="/users/register">
   <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Name" name="name">
  </div>
   <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" placeholder="Email" name="email">
  </div>
  <div class="form-group">
    <label>Telephone</label>
    <input type="text" class="form-control" placeholder="Telephone" name="telephone">
  </div>
  <div class="form-group">
    <label>Company</label>
    <input type="text" class="form-control" placeholder="Company" name="company">
  </div>
  <div>
    <input type="checkbox" id="officialvisit" name="officialvisit" />
    <label for="officialvisit">Official Visit</label>
  </div>
  <div>
    <input type="checkbox" id="escortrequired" name="escortrequired" />
    <label for="escortrequired  ">Escort Required</label>
</div>
  <div class="form-group">
    <label>Escort Name</label>
    <input type="text" class="form-control" placeholder="Escort Name" name="escortname">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
